@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*
 * Textimate settings form effect preview!
 */
.textimate__preview {
  padding: 30px 15px;
  background-image: url('../img/preview-background.png');
}
.textimate__preview p {
  display: block;
  font-family: 'Oswald', serif;
  font-weight: 700;
  font-size: 36px;
  margin: auto;
  width: 450px;
  min-height: 120px;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  vertical-align: middle;
}

/*
 * Textimate administration overview page!
 */
.textimate-filter.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  margin-block: var(--space-l);
  padding: var(--space-xs) var(--space-l) var(--space-l) var(--space-l);
  border: var(--details-border-size) solid var(--details-border-color);
  border-radius: var(--details-border-size-radius);
  background-color: var(--color-white);
  box-shadow: var(--details-box-shadow);
}
.textimate-filter {
  margin-bottom: 24px !important;
  padding-top: 12px !important;
  padding-bottom: 9px !important;
}
.textimate-filter .form-item {
  margin-right: 6px;
}
[dir="rtl"] .textimate-filter .form-item {
  margin-left: 6px;
  margin-right: 0;
}
.textimate-filter .form-element {
  display: table;
}
.textimate-filter .form-submit {
  margin-right: 6px;
}
[dir="rtl"] .textimate-filter .form-submit {
  margin-left: 6px;
  margin-right: 0;
}
.textimate-filter .form-submit:last-child {
  margin-left: 0;
  margin-right: 0;
}
/* List status marker */
.textimate-list .marker {
  font-size: .75rem;
  font-weight: 525;
  display: inline-block;
  padding: .125em .75em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  color: #777;
  background: #eee;
}
.gin-layer-wrapper .textimate-list .marker {
  color: #777;
  background: #eee;
  border-radius: .75rem;
}
.textimate-list .marker--enabled {
  color: #fff;
  background-color: #26a769;
}
.gin-layer-wrapper .textimate-list .marker--enabled {
  color: #39b77b;
  background-color: #26a76930;
}

/*
 * Textimate form.
 */
[dir="rtl"] #edit-selector,
[dir="rtl"] #edit-selectors,
[dir="rtl"] #edit-options input[type="text"],
[dir="rtl"] #edit-options input[type="number"],
[dir="rtl"] #edit-textimate-options input[type="text"],
[dir="rtl"] #edit-textimate-options input[type="number"],
[dir="rtl"] #edit-url-pages {
  direction: ltr;
}
/* Vertical tabs field suffix */
.textimate-form .form-item__suffix,
.textimate-settings-form .form-item__suffix {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 0;
  margin-left: -6px;
  transform: rotate(90deg);
}
/* Animate flags */
.textimate-unit-flag,
.textimate-beta-flag,
.textimate-experimental-flag,
.textimate-new-flag {
  font-size: 10px;
  font-weight: 525;
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  padding: .125em .5em;
  vertical-align: .125em;
  border: 1px solid transparent;
  border-radius: .125rem;
  line-height: 1.5;
}
body[class^="gin--"] .textimate-beta-flag,
body[class^="gin--"] .textimate-experimental-flag,
body[class^="gin--"] .textimate-new-flag {
  border-radius: .75rem;
}
.textimate-beta-flag,
.textimate-experimental-flag {
  color: #555;
  background: #ddd;
}
body[class^="gin--"] .textimate-beta-flag,
body[class^="gin--"] .textimate-experimental-flag {
  color: #777;
  background: #eee;
}
.gin--dark-mode .textimate-beta-flag,
.gin--dark-mode .textimate-experimental-flag {
  color: #9e9fa0 !important;
  background: rgba(255, 255, 255, .1) !important;
}
.textimate-new-flag {
  color: #fff;
  background-color: #26a769;
}
body[class^="gin--"]  .textimate-new-flag {
  font-size: 9px;
  font-weight: bold;
  color: #39b77b;
  background-color: #26a76930;
}
.textimate-unit-flag {
  font-size: 14px;
  color: #d8b234;
  text-transform: lowercase;
}

/*
 * Textimate add/edit effect form!
 */
.textimate-now {
  cursor: pointer;
  color: #393939;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Extra large + side margins */
@media screen and (min-width: 80rem) { /* 1200px (large) + 80px (side margins) = 1280px */
  .textimate-now {
    font-size: 30px;
  }
}
/* Table header in Gin theme */
.th__animation-name {
  width: 300px;
}
.th__weight {
  width: 30px;
}
.th__operations {
  width: 270px;
}
/* Table column */
.tabledrag-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important;
}
.textimate-summary {
  padding: 0 30px;
  font-size: 12px;
}
.textimate-edit {
  padding: 15px 0px;
}
.textimate-options .form-element {
  display: block;
}
.textimate-options.container-inline .form-item {
  margin: 0;
}
/* Gin theme fix delete icon color */
#block-gin-content .action-link--icon-trash.action-link--danger:before,
#block-gin-content .button.button--danger:before,
#block-gin-content a.button.button--danger:before {
  background-color: #cc3d3d !important;
}
#block-gin-content .action-link--icon-trash.action-link--danger:hover:before,
#block-gin-content .action-link--icon-trash.action-link--danger:focus:before,
#block-gin-content .action-link--icon-trash.action-link--danger:active:before,
#block-gin-content .button.button--danger:hover:before,
#block-gin-content .button.button--danger:focus:before,
#block-gin-content .button.button--danger:active:before,
#block-gin-content a.button.button--danger:hover:before,
#block-gin-content a.button.button--danger:focus:before,
#block-gin-content a.button.button--danger:active:before {
  background-color: #ffffff !important;
}
